@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');



#loginSection
{
    margin: auto;
    width:300px;
    height:auto;
    background-color: rgb(32, 32, 31);
}

body
{
    background-color: rgba(0, 0, 139, 0.2);
}

#site
{
    margin-top: 20px;
    text-align: center;
    align-self: center;
    font-family: 'Lacquer', cursive;
    font-size: 6vw;
    color: black;
}

